* {
    padding: 0 !important;
}

body{
    background: #eaeaea;
}

.navBarSide {
    height:100vh;
    background: rgba(41, 181, 246, 0.212);
    border-radius: 35px;
    box-shadow: 5px 5px 15px black;
    
}

.contener {
    height: 100vh;
    border-radius: 35px;
    padding: 20px !important;
    box-shadow: 5px 5px 15px black;
}
